@charset "utf-8";

/* 基本設定 */
html {
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Oxygen', sans-serif;
    font-size: 17px;
    color: #333333;
    background: #eeeeee;
    line-height: 1.3;
}

/* 枠組み */
@media screen and (min-width: 769px) {
    .page {
        margin: 0 auto;
        max-width: 800px;
        min-width: 700px;
        height: 100%;
        min-height: 450px;
        position: relative;
    }
    .left {
        float: left;
        width: 350px;
        min-height: 350px;
        text-align: center;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    .right {
        float: left;
        margin: 0 5px;
        width: 300px;
        min-height: 350px;
        position: relative;
        top: 45%;
        transform: translateY(-50%);
    }
    footer {
        clear: both;
        position: absolute;
        margin-bottom: 15px;
        bottom: 0;
        width: 100%;
    }
    .copyright {
        clear: both;
        font-size: 13px;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .page {
        margin: 0 auto;
        width: 90%;
    }
    .left {
        margin: 40px auto 0 auto;
        width: 90%;
        max-width: 350px;
        min-width: 250px;
        text-align: center;
    }
    .right {
        margin: 0 auto;
        max-width: 300px;
        min-width: 250px;
        width: 90%;
    }
    footer {
        width: 100%;
        min-width: 300px;
        margin: 30px auto 10px auto;
    }
    .copyright {
        font-size: 13px;
        text-align: center;
    }
}

/* 見出し */
h1 {
    color: #222222;
    font-size: 30px;
}
h2 {
    color: #222222;
    font-size: 25px;
    margin: 20px 0 15px 0;
    padding: 0 0 0 15px;
    border-bottom: 1px solid #ccc;
}

/* リンク */
a:link, a:visited {
    color: #555;
    text-decoration: none;
}
a:hover {
    color: #999;
}

/* 画像 */
.left img {
    border: 6px solid #333;
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}

/* メニュー周り */
/* 結局使ってないけど置いておく */
nav ul {
    overflow: hidden;
    margin: 15px 0 20px 0;
    padding: 0;
    width: 100%;
    height: 50px;
}
nav li {
    display: block;
    width: 140px;
    float: left;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate3d(-100%,-50%,0);
}
nav a {
    color: #333;
    display: block;
    line-height: 1.0;
    margin: 0 15px;
    padding: 10px 0;
    border-bottom: 2px solid #999;
    text-align: center;
    text-decoration: none;
}
nav a:hover {
    background: #ccc;
}

/* Description Listの設定 */
.right dl {
    padding-left: 15px;
    line-height: 1.5em;
}
.right dt {
    clear: left;
    float: left;
}
.right dt {
    width: 110px;
}

/* 右のパラグラフ */
.right p {
    padding-left: 16px;
    line-height: 1.5em;
}

/* Font Awesome 関連 */
ul.fa-ul {
    width: 240px;
    margin-left: 43px;
    height: 55px;
    list-style: none outside;
}
.fa-ul li {
    margin: 0 15px 5px 0;
    float: left;
    width: 100px;
}
.fa-fw {
    width: 1.8em;
}
.fa-li {
    left: -1.5em;
    width: 1.5em;
}

/* more */
.more .fa-fw {
    width: 1.3em;
}
@media screen and (min-width: 769px) {
}
.more {
    font-size: 13px;
    margin-left: 150px;
}
@media screen and (min-width: 370px) {
    .more {
        font-size: 13px;
        margin-left: 40%;
    }
}
@media screen and (max-width: 369px) {
    .more {
        font-size: 13px;
        margin-left: 30%;
    }
}

